<h3 class="type">{{quizType | titlecase}} quiz</h3>
<form [formGroup]="quizForm" class="form">
  <label for="category">Category: </label>
  <p-dropdown 
      id="category"
      formControlName="category" 
      [options]="(categories$ | async) ?? undefined"
      optionLabel="name"
      autoWidth="false" [style]="{'width':'100%'}"
    />

  <label for="difficulty">Difficulty: </label>
  <p-dropdown 
    id="difficulty"
    formControlName="difficulty" 
    [options]="difficulties"
    autoWidth="false" [style]="{'width':'100%'}"
  />

  <label for="type">Type: </label>
  <p-dropdown 
    id="type"
    formControlName="type" 
    [options]="types"
    autoWidth="false" [style]="{'width':'100%'}"
  />
  <p-button (click)="onStartQuiz()" label="Start quiz" autoWidth="false" [style]="{'width':'fit-content'}"/>
</form>
