:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.title {
  text-shadow: 0 0 10px var(--primary-color);
  font-size: 4rem;
  align-self: center;
  margin-bottom: 3rem;
}

.quiz-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;

  &-card {
    width: 100%;
  }
}

@media screen and (min-width: 880px) {
  .quiz-cards {
    flex-direction: row;

    &-card {
      width: 50%;
    }
  }
}