<ng-container 
  *ngrxLet="{quizQuestions: quizQuestions$ | async, 
    answeredQuestions: answeredQuestions$ | async, 
    correctAnsweres: correctAnsweres$ | async, 
    currentQuestionIndex: currentQuestionIndex$ | async,
    isAllAnswered: isAllAnswered$ | async,
    isQuizFinished: isQuizFinished$ | async,
    quizType: quizType$ | async} as data"
>
  <div *ngIf="data.quizType" class="info">
    <div>{{data.quizType | uppercase}} QUIZ</div>
    <div>Score: {{data.correctAnsweres?.length ?? 0}}<span *ngIf="data.quizType === QuizType.CLASSIC">/{{data.quizQuestions?.length ?? 0}}</span></div>
  </div>
  <ng-container *ngIf="!data.isQuizFinished">
    <ng-container *ngFor="let question of data.quizQuestions; let i = index">
      <div *ngIf="data.currentQuestionIndex === i" class="question">
        <h4 class="question-title" [innerHTML]="question.question"></h4>
        <app-quiz-answers 
          class="question-answers"
          [incorrectAnswers]="question.incorrectAnswers" 
          [correctAnswer]="question.correctAnswer"
          (answer)="onAnswer($event, question, i, data.quizType)"
          >
        </app-quiz-answers>
        <div class="buttons">
          <p-button *ngIf="!data.isAllAnswered && data.answeredQuestions?.includes(i)" class="action-button" (click)="onNextQuestion()">Next</p-button>
          <p-button *ngIf="data.isAllAnswered" class="action-button" (click)="onFinish()">Finish</p-button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div *ngIf="data.isQuizFinished && data.correctAnsweres && data.quizQuestions" class="end">
    <h2>Quiz finished</h2>
    <div>Score: {{data.correctAnsweres.length}}<span *ngIf="data.quizType === QuizType.CLASSIC">/{{data.quizQuestions.length}}</span></div>
    <p-button (click)="onTryAgain()">Try again</p-button>
  </div>
</ng-container>