:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answer {
  flex: 1;
  max-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--surface-border);
  border-radius: 4px;
  transition: border 0.1s ease-in; 

  &.clickable {
    cursor: pointer;
    
    &:hover {
      border: 1px solid var(--primary-color);
    }
  }

  &.correct {
    border: 2px solid var(--green-500)
  }
  
  &.incorrect {
    border: 2px solid var(--red-500)
  }
}